<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta name="robots" content="index,follow" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="vNp1usA2U415AP79MQnwWas5U7lbO6yAGyioC7FLVjQ" />
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {% if template contains 'product' %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    {%- if current_variant.barcode != blank -%}
      <meta itemprop="productID" content="isbn:{{ current_variant.barcode }}">
    {%- endif -%}
  {% endif %}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- else -%}	
    <meta name="description" content="{{ shop.description | escape }}">
  {%- endif -%}
  {% include 'social-meta-tags' %}
  {{ 'jquery.js' | asset_url | script_tag }}
  {{ 'underscore.js' | asset_url | script_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'elevar-head' %}
  
  {% if template == 'cart' %}
    {% include 'cookify' %}
  {% endif %}
  
  <!-- START Rakuten Marketing Tracking -->
  <script type="text/javascript">
    (function (url) {
      /*Tracking Bootstrap Set Up DataLayer objects/properties here*/
      if(!window.DataLayer){
        window.DataLayer = {};
      }
      if(!DataLayer.events){
        DataLayer.events = {};
      }
      DataLayer.events.SPIVersion = DataLayer.events.SPIVersion || "3.3";
      DataLayer.events.SiteSection = "1";

      var loc, ct = document.createElement("script");
      ct.type = "text/javascript";
      ct.async = true; ct.src = url; loc = document.getElementsByTagName('script')[0];
      loc.parentNode.insertBefore(ct, loc);
      }(document.location.protocol + "//intljs.rmtag.com/114656.ct.js"));
  </script>
  <!-- END Rakuten Marketing Tracking -->
  {% assign templll = 'kother' %}
  {% if template contains 'product.comingsoon' %}
  	{% assign templll = 'product.comingsoon' %}
  {% endif %}
  <script>
    var theme = {
      strings: {
        templ: "{{ templll }}",
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        comingSoon: {{ 'products.product.coming_soon' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  
  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {%- if template.directory == 'customers' -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {%- endif -%}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  {% comment %}{% include 'buddha-megamenu' %}{% endcomment %}
  {% include 'buddha-megamenu-before' %}
{{ content_for_header }}
  {% if template != 'index' and template != 'collection' and page.url != '/pages/arch-brow-collection' %}
  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'header-footer.css' | asset_url | stylesheet_tag }}
  {% if template == 'index' %}{{ 'home.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template != 'index' %}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  	{% if page.url != '/pages/arch-brow-collection' %}
  		{{ 'product-template-zoom.css' | asset_url | stylesheet_tag }}
  	{% endif %}
  {{ 'media.css' | asset_url | stylesheet_tag }}
  {{ 'crosby-abbot-kinney.css' | asset_url | stylesheet_tag }}
  {{ 'free-gifts.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template contains 'collection' %} 
    {% include 'ra-quickshop-init' %}
  {% endif %}
  {% if page.url == '/pages/veil-collection' or page.url == '/pages/shop-unlocked-vip-makeup-experience'%}
    {{ 'themequickview.js' | asset_url | script_tag }}
  {% endif %}
  {% if page.url == '/pages/arch-brow-collection' %}
    {% include 'ra-quickshop-init' %}
  {% endif %}
  {% include 'minmaxify-head' %}

  <script src="https://dataprivacy.unileversolutions.com/etc/clientlibs/gdpr-global/v1.0/head-bottom.js" ></script>
  <script type="text/javascript">
    	var gdprScriptParam = {block:false, csp:"script-src \'self\' \'unsafe-inline\' \'unsafe-eval\' *.evidon.com *.betrad.com dataprivacy.unileversolutions.com; img-src \'self\' *.constant.co *.evidon.com *.betrad.com;"};
  </script>
  <script src="https://dataprivacy.unileversolutions.com/etc/clientlibs/gdpr-global/v1.0/head-top.js" ></script>
  {% include 'sca.freegifts' %}
  <script type="text/javascript">
    if ((typeof SECOMAPP) === 'undefined') { SECOMAPP = {}; };
    SECOMAPP.fg_disable_select_gift_popup = true;
  </script>

  <!-- Global-e CSS Start-->
  <link id="GEPIStyles" rel="stylesheet" href="//gex.global-e.com/gempro/css/10000387" />
  <!-- Global-e CSS End-->
  
  <!-- Narrativ Page Impression Events -->
  <script type="text/javascript">
    (function(account) {
        try {
            var b = document.createElement("script");
            b.type = "text/javascript";
            b.src = "https://static.narrativ.com/tags/" + account + ".js";
            b.async = true;
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(b, a);
        } catch (e) {}
    }("hourglass"));
  </script>
  

  {% render 'shogun-head' %}
</head>

{% assign cautionpages = "/pages/usecaution,/pages/dst,/pages/dtt,/pages/lovely,/pages/basic,/pages/blame,/pages/adventure,/pages/reboot,/pages/sazan,/pages/lady,/pages/forever35,/pages/iliza,/pages/helpless,/pages/almost30,/pages/persister,/pages/artbeauty,/pages/slapped,/pages/ido,/pages/dateable,/pages/behere,/pages/love,/pages/fcol,/pages/beautyinsideout,/pages/murder,/pages/selfie,/pages/gge,/pages/shameless" | split: ',' %}
<body class="{% if page.url == '/pages/latest-about-us' %}aboutus-page {% endif %}{% if template contains 'activate' %}activate-page {%endif %}{% if template contains 'login' %}cmn-account login-page{% endif %}{% if template contains 'account' %}cmnmy-account {% endif %}{% if template contains 'addresses' %}cmnmy-account {% endif %}{% if template contains 'cart' %}cmn-cart cart-page{% endif %}{% if template contains 'register' %}cmn-account register-page{% endif %}{% if page.url == '/pages/about-hourglass' %}{% comment %}aboutpage{% endcomment %} aboutus-page{% endif %}{% if page.url == '/pages/coming-soon' %}coming-soon-page{% endif %}{% if page.url == '/pages/stores' %}locatestore{% endif %}{% if page.url == '/pages/crueltyfreeluxurybeauty' %}cms-crueltyfreeluxurybeauty{% endif %}{% if page.url == '/pages/wishl-wishlist' %}mywishlist{% endif %}{% if page.url == '/pages/search-results-page' %}searchpage{% endif %}{% if page.url == '/pages/contact-us' %}contactus-page{% endif %}{% if page.url == '/pages/careers' %}cms-careers{% endif %}{% if page.url == '/account/login' %}login{% endif %} {% if page.url == '/pages/faq' %}faq-page{% endif %} {% if template == 'page' %}cms-page{% endif %}{% if template == 'index' %}homepage{% endif %} template-{{ template | split: '.' | first }}{% if template contains 'collection' %} template-coll-{{ collection.handle }}{% endif %}{% if template contains '404' %} pagenoroute{% endif %} {% if cautionpages contains page.url %}cmn-static{% endif %}{% if product.handle contains 'the-future-of-foundation' %} product-the-future-of-foundation{% endif %}{% if product.handle contains 'vanish™-seamless-finish-liquid-foundation' %} vanish-finish-foundation{% endif %}{% if product.handle contains 'usecaution' %}cmn-static usecaution1{% endif %} {% if product.handle contains 'bundle1' %}product-bundle{% endif %} {% if page.url == '/pages/store-locator' %}store-locator{% endif %}
{% if settings.holiday_banner_enable == true and template != 'cart' and product.handle != 'illume-sheer-color-trio-in-sunset' %} show_illume_banner{% endif %}
{% if settings.covid_enable == true %}enable_black_friday_banner{% endif %} {% if page.url == '/pages/giveaways' %}misc-cms{% endif %}{% if page.url == '/pages/no-route' %}misc-cms pagenoroute no-route{% endif %}
{% if page.url == '/pages/pro-program-applicants' %}misc-cms pagenoroute pro-program-app{% endif %}{% if page.url == '/pages/cookie-notice' %}misc-cms{% endif %}{% if page.url == /pages/enable-cookies' %}misc-cms{% endif %}{% if page.url == '/pages/permission-terms' %}misc-cms{% endif %}{% if page.url == '/pages/enable-cookies' %}misc-cms{% endif %} {% if page.url == '/pages/the-archt-brow-collection' or page.url == '/pages/arch-brow-collection' %}pagenoroute arch-collection{% endif %} {% if page.url == '/pages/the-archt-brow-collection' or page.url == '/pages/arch-brow-collection' %}pagenoroute arch-collection{% endif %} {% if page.url == '/pages/tack-the-quiz' %}pagenoroute tack-the-quiz{% endif %} {% if page.url == '/pages/quiz' %}pagenoroute quiz-cms{% endif %}
{% if page.url == '/pages/the-gift-list-with-rosie-huntington-whiteley' %}page-vip-makeup-experience{% endif %}  {% if page.url == '/pages/arch-brow-finder' %}pagenoroute quiz-cms{% endif %} {% if page.url == '/pages/the-grove-popup' %}pagenoroute grove-popup{% endif %} {% if page.url == '/pages/ghost-holiday-collection' %}pagenoroute page-holiday-ghost {% endif %} {% if page.url == '/pages/holiday-collection' %}pagenoroute{% endif %} {% if page.url != '/pages/ghost-holiday-collection' %}{% if page.url == '/pages/crosby' %}pagenoroute crosby-abbot{% endif %} {% if page.url == '/pages/abbot-kinney' %}pagenoroute crosby-abbot{% endif %} {% if page.url == '/pages/california-resident-rights-request-form' %}california-resident{% endif %} {% if page.url == '/pages/instant-skin-perfection' %}pagenoroute skin-perfection{% endif %} {% if page.url == '/pages/instant-skin-perfection-landing' %}pagenoroute isp-landing{% endif %} {{ template | handleize }}{% endif %}{% if settings.wishlist_enable == true and template != 'cart' %} body-wishlist-banner{% endif %} {% if page.url == '/pages/veil-collection' %}pagenoroute veil-coming-page{% endif %} {% if page.url == '/pages/veil-collection' %}pagenoroute veil-collection-page{% endif %} {% if page.url == '/pages/newsletter' %}pagenoroute{% endif %} {% if page.url == '/pages/unlocked' %}pagenoroute{% endif %} {% if page.url == '/pages/rsvp-unlocked' %}pagenoroute{% endif %}  {% if page.url == '/pages/unlocktheimpact' %}pagenoroute unlock-the-impact{% endif %} {% if page.url == '/pages/shop-unlocked-vip-makeup-experience' %}pagenoroute shop-unlocked{% endif %}  {% if page.url == '/pages/sculpture-holiday-collection' %}pagenoroute s-holiday-coll{% endif %}  {% if page.url == '/pages/sculpture-holiday-collection' %}show_holiday_banner{% endif %} {% if page.url == '/pages/newsletter-hong-kong' %}pagenoroute{% endif %} {% if page.url == '/pages/the-gift-list-with-rosie-huntington-whiteley' %}pagenoroute the-gift-list{% endif %}">
{% include 'loop-returns-snippet' %}
  {% comment %}{% include 'buddha-megamenu-wireframe' %}{% endcomment %}
  	<script>
      window.dataLayer.push(
      {  
          "event": "fireRemarketingTag",
          {% if template contains 'register' %}
          "google_tag_params": {
              "ecomm_pagetype": "register"
          }
          {% elsif template contains 'login' %}
          "google_tag_params": {
              "ecomm_pagetype": "login"
          }
          {% elsif template contains 'account' %}
          "google_tag_params": {
              "ecomm_pagetype": "account"
          }
          {% elsif template contains 'addresses' %}
          "google_tag_params": {
              "ecomm_pagetype": "addresses"
          }
          {% elsif template contains 'collection' %}
          "google_tag_params": {
              "ecomm_pagetype": "category",
              "ecomm_category": "{{ collection.title }}"
          }
          {% elsif template contains 'product' %}
          {% assign current_variant = product.selected_or_first_available_variant %}
          "google_tag_params": {
              "ecomm_pagetype": "product",
              "ecomm_prodid": "{{ current_variant.sku }}",
              "ecomm_pname": "{{ product.title }}",
              "ecomm_pvalue": {{ product.price | money_without_currency }},
              "ecomm_totalvalue": {{ product.price | money_without_currency }},
              "ecomm_category": [{% for collection in product.collections %} "{{ collection.title }}", {% endfor %}]
          }
          {% elsif template contains 'cart' %}
          "google_tag_params": {
              "ecomm_pagetype": "cart",
              "ecomm_prodid": [{% if cart.items.size > 0 %} {% for line_item in cart.items %} "{{ line_item.sku }}", {% endfor %} {% endif %}],
              "ecomm_pvalue": [{% if cart.items.size > 0 %} {% for line_item in cart.items %} {{ line_item.price | money_without_currency }}, {% endfor %} {% endif %}],
              "ecomm_pname": [{% if cart.items.size > 0 %} {% for line_item in cart.items %} "{{ line_item.title }}", {% endfor %} {% endif %}],
              "ecomm_totalvalue": {{ cart.total_price | money_without_currency }}
          }
          {% else %}
          "google_tag_params": {
              "ecomm_pagetype": "other"
          }
          {% endif %}
      });
    </script>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  
  {% comment %}<div class="loader-wrap"><div class="spiner"></div></div>{% endcomment %}
  
  <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  
  
  {% comment %} // If gift product more then 1 then it will remove latest added product {% endcomment %}
  {% assign count = 0 %}
  {% for item in cart.items %}
  	{% if item.price == 0 %}
  		{% assign count = count | plus:1 %}
  	{% endif %}
  {% endfor %}
  {% if count > 1 %}
      <script>
        jQuery.ajax({
          type: 'POST',
          url: '/cart/change.js', 
          data: { quantity: 0, line: 1 }, 
          dataType: 'json',
          success: function(data) { location.reload(); }
        });  
      </script>  
  {% endif %} 
  {% comment %} // If gift product quantity is greter then 1 then it will change to 1 {% endcomment %} 
  {% for item in cart.items %}
  	{% if item.price == 0 and item.quantity > 1 %}
  		{% comment %}({{forloop.index}}) {{ item.title }} ==> Q:{{ item.quantity }} ==> {{ item.price | money_without_currency }}{% endcomment %}
  		<script>
          jQuery.ajax({
            type: 'POST',
            url: '/cart/change.js', 
            data: { quantity: 1, line: {{forloop.index}} }, 
            dataType: 'json',
            success: function(data) { location.reload(); }
          });  
  		</script>
    {% endif %}
  {% endfor %}
  
  
  {% section 'header' %}

  <div class="page-container" id="PageContainer">
    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
      {% include "arp" %}
    </main>    
  	{% include 'flits_snippet' %}   <!-- before elevar-body-end -->    
    {% section 'footer' %}
  </div>
  {% include 'cookify' %}
  {% include 'ajax-minicart' %}
  {% if template == 'collection' %}{% include 'ajax-minicart-listing' %}{% endif %}
  {% if page.url == '/pages/arch-brow-collection' %}{% include 'ajax-minicart-listing' %}{% endif %}
  {% if template == 'collection' %}{{ 'ajaxinate.min.js' | asset_url | script_tag }}{% endif %}
  {% if template == 'index' %}
    {{ 'home.js' | asset_url | script_tag }}
	{{ 'custom.js' | asset_url | script_tag }} 
  {% elsif template == 'collection' %}
  	{{ 'collection.js' | asset_url | script_tag }}
  {% elsif page.url == '/pages/arch-brow-collection' %}
	{{ 'archcustom.js' | asset_url | script_tag }}
  {% else %}
	{{ 'owl.carousel.js' | asset_url | script_tag }}
    {% if page.url == '/pages/arch-brow-finder' %}
  	   {{ 'jquery.smartWizard.min.js' | asset_url | script_tag }}
       {{ 'arch-brow-finder.js' | asset_url | script_tag }}
    {% endif %}
	{{ 'custom.js' | asset_url | script_tag }}
  {% endif %}
  {% comment %} for ajax add to cart for stay on page{% endcomment %}
  {% include 'ajaxify-cart' %}
  {% if template == 'collection' %}
    <script>
      /* Product Tag Filters - Good for any number of filters on any type of collection pages */
      var collFilters = jQuery('.coll-filter');
      collFilters.change(function() {
        var newTags = [];
        collFilters.each(function() {
          if (jQuery(this).val()) {
            newTags.push(jQuery(this).val());
          }
        });
        if (newTags.length) {
          var query = newTags.join('+');
          window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
        }
        else {
          {% if collection.handle %}
          window.location.href = '/collections/{{ collection.handle }}';
          {% elsif collection.products.first.type == collection.title %}
          window.location.href = '{{ collection.title | url_for_type }}';
          {% elsif collection.products.first.vendor == collection.title %}
          window.location.href = '{{ collection.title | url_for_vendor }}';
          {% endif %}
        }
      });
    </script>
  {% endif %}
  {% include 'elevar-body-end' %}
  <script> 
    if(Loop.status === 'active'){ 
      Loop.setKey('de9d6b6ea0bb7f95d4a7090e5542018ba70ed5fb');
      $('#shopify-checkout').css('display','none');
      $('#cart__checkout__button').click(function(event){ 
        var cartItems = []; 
        $('.cart__item').each(function(item){ 
          cartItems.push($(this).attr('data-variant-id')); 
        });
        //console.log(cartItems);
        Loop.submit(cartItems); 
      });
      $(document).ready(function(){
        $('.afterpay-paragraph').css('display','none');
      });
    }else{
      $('#cart__checkout__button').css('display','none');
    }
  </script> 

  <!-- Global-e Script Start-->
  <script id="globaleScript">
    (function () {
      var reg = /showpro=(true|false)/i;
      var showpro = ((reg.exec(document.location.search) || reg.exec(document.cookie) || [])[1] || '').toLowerCase();
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//gex.global-e.com/gempro/get/10000387' + (showpro ? '?showpro=' + showpro : '');
      document.getElementsByTagName('head')[0].appendChild(s);

      if (showpro) {
        var cssElement = document.createElement('link');
        cssElement.rel = 'stylesheet';
        cssElement.id = 'GEPIStyles';
        cssElement.href = '//gex.global-e.com/gempro/css/10000387?showpro=' + showpro;
        document.cookie = 'showpro=' + showpro;
        document.getElementsByTagName('head')[0].appendChild(cssElement);  
      }

      //GlobalE_Gem_Data cookie
      var name = 'GlobalE_Gem_Data';
      var value = JSON.stringify({ StoreCode : 'hourglasscosmetics' });
      var days = 10;

      var date = new Date();
      date.setTime(date.getTime() + (days*24*60*60*1000));
      var expires = '; expires=' + date.toUTCString();
      document.cookie = name + ' = ' + (value || '')  + expires + '; path =/ ';
    })()
  </script>
  {% if customer.id  %}
  <input type="hidden" name="customer_id" id="customer_id" value="{{ customer.id }}_{{ customer.id | append: "!#Gl0b@lE-$3cr3t!)%1#" | sha1 }}">
  {% endif %}
  <script>
    (function () {
      setTimeout(function() {
        if (typeof GEP == 'undefined') {
          $('*[globale-product-price],*[globale-order-details-price], *[globale-order-list-price]').css('visibility', 'visible');
        } else {
        }
      }, 2000);
    })()
  </script>
  <!-- Global-e Script End-->

  
  {% if page.handle == 'shipping-returns' %}
    <script>
    $(document).ready(function() {
        var shipmentLink = window.location.href;
        if(shipmentLink.includes('#shipments-International-address')){
           $('#shipments-International-address .fr-page-tab').click();
           var header_height = $('header').height();
           var sticky_height = $('.sticky-holiday-banner.illume-banner').height();
           var total_height = header_height+sticky_height;
           jQuery("html, body").animate({
                scrollTop: jQuery('#shipments-International-address .fr-page-tab').offset().top - total_height
              },
           1000
           );
        }
    });
    </script>
  {% endif %}
  
</body>

</html>