<div id="illume-products-section" class="illume-products-section section holiday-bestsellers-products ambient_and_vanish_product_section">
  {% if section.settings.title != blank %}
    <h1>{{ section.settings.title }}</h1>
  {% endif %}
  
  <div class="collection_list">
    <div class="coll-list-slider">
      
      <div class="collection-grid">
        <ul class="ambient_and_vanish_product ">
          
          {% for block in section.blocks %}
            <li class="coll-list-item">
              <div class="grid-view-item product-card">  
                <a class="product_link" href="{{ block.settings.product_url }}">
                  <div class="product-title">{{ block.settings.title }}</div>
                  <div class="product-image">
                    <img class="grid-view-item__image lazyload" data-src="{{ block.settings.product_image | img_url: 'master' }}" src="{{ block.settings.product_image | img_url: '30x' }}" alt="{{block.settings.title}}">
                  </div>
                </a>
                <div class="product-price">{{ block.settings.price }}</div>
                <a href="{{ block.settings.product_url }}" class="product_button">{{ block.settings.button_label }}</a>
              </div>
            </li>
          {% endfor %}
          
        </ul>
      </div>
      
    </div>
  </div>
</div>

{{ 'slick.min.js' | asset_url | script_tag }}
<script>
$('.holiday-bestsellers-products .ambient_and_vanish_product').slick({
  dots: false,
  infinite: false,
  arrows:true,
  speed: 300,
  slidesToShow: {{section.settings.grid}},
  slidesToScroll: {{section.settings.grid}},
  responsive: [
    {
      breakpoint: 995,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    }
  ]
});
</script>

{% schema %}
{
  "name": "Ambient & Vanish Products",
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading",
        "de": "Titel",
        "fr": "En-tête"
      }
    },
    {
        "type": "range",
        "id": "grid",
        "label": {
          "en": "Products per row"
        },
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
    }
  ],
  "max_blocks": 8,
  "blocks" : [
   {
      "type": "image",
      "name": {
        "en": "Product",
        "de": "Product",
        "fr": "Product"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": {
            "en": "Image",
            "de": "Image",
            "fr": "Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
          "en": "Title",
          "de": "Title",
          "fr": "Title"
          }
        },
        {
          "type": "text",
          "id": "price",
          "label": {
            "en": "Price",
            "de": "Price",
            "fr": "Price"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
          "en": "Button label",
          "de": "Button label",
          "fr": "Button label"
          },
		  "default": "SHOP NOW"
        },
		{
          "type": "url",
          "id": "product_url",
          "label": {
          "en": "Product URL",
          "de": "Product URL",
          "fr": "Product URL"
          }
        }
      ]
   }
  ],
  "presets": [
    {
      "name": {
        "en": "Ambient & Vanish Products"
      },
      "category": {
        "en": "Advanced layout",
        "de": "Komplizierteres Layout",
        "fr": "Mise en page avancée"
      }
    }
  ]
}
{% endschema %}