<div id="curator-pan-block" class="fullheightblock curator-pan-block">
  <div class="left-section">
    <div class="section-content section-content-mobile">
          <div class="content-inner">
			  {% if section.settings.title != blank %}
              	<div class="title">{{ section.settings.title }}</div>
              {% endif %}
            
              {% if section.settings.sub_title != blank %}
              	<div class="sub_title">{{ section.settings.sub_title }}</div>
              {% endif %}  

           </div> 
        
    </div>

    {% if section.settings.desk_image != blank %}
    	<img class="desk-img lazyload" data-src="{{ section.settings.desk_image | img_url: 'master' }}" src="{{ section.settings.desk_image | img_url: '100x100' }}" alt="{{ section.settings.title }}"
         {% if section.settings.desk_image %}
         data-bgset="{% include 'bgset', image: section.settings.desk_image %}"
         {% endif %}> 
    {% endif %}
    
    {% if section.settings.mob_image != blank %}
      <img class="mob-img lazyload" data-src="{{ section.settings.mob_image | img_url: 'master' }}" src="{{ section.settings.mob_image | img_url: '100x' }}" alt="{{ section.settings.title }}"
           {% if section.settings.mob_image %}
           data-bgset="{% include 'bgset', image: section.settings.mob_image %}"
           {% endif %}> 
      {% endif %}
  
    <div class="section-content ">
          <div class="content-inner">

              {% if section.settings.title != blank %}
              	<div class="title">{{ section.settings.title }}</div>
              {% endif %}
            
              {% if section.settings.sub_title != blank %}
              	<div class="sub_title">{{ section.settings.sub_title }}</div>
              {% endif %}
            
              {% if section.settings.description != blank %}
              <div class="description">{{ section.settings.description }}</div>
              {% endif %}
            
              {% if section.settings.button_label != blank and section.settings.button_link != blank %}
              <div class="actions">
                   <a href="{{ section.settings.button_link }}"> <span>{{ section.settings.button_label | escape }}</span> </a>
              </div>
              {% endif %}

           </div> 
        
    </div>
  </div>
  <div class="right-section">
    <div class="pan-bottle-group">
    <div class="pan-bottle">
      <img class="lazyload" data-src="{{ section.settings.pan1_image | img_url: 'master' }}" src="{{ section.settings.pan1_image | img_url: '100x100' }}" alt="{{ section.settings.title }}"
         {% if section.settings.desk_image %}
         data-bgset="{% include 'bgset', image: section.settings.pan1_image %}"
         {% endif %}> 
    {% if section.settings.text1 != blank %}
        <div class="text1">{{ section.settings.text1 }}</div>
    {% endif %}
      
    </div>
    <div class="pan-bottle">
       <img class="lazyload" data-src="{{ section.settings.pan3_image | img_url: 'master' }}" src="{{ section.settings.pan3_image | img_url: '100x100' }}" alt="{{ section.settings.title }}"
         {% if section.settings.pan3_image %}
         data-bgset="{% include 'bgset', image: section.settings.desk_image %}"
         {% endif %}> 
     {% if section.settings.text2 != blank %}
        <div class="text2">{{ section.settings.text2 }}</div>
    {% endif %} 
    </div>
    <div class="pan-bottle">
      <img class="lazyload" data-src="{{ section.settings.pan5_image | img_url: 'master' }}" src="{{ section.settings.pan5_image | img_url: '100x100' }}" alt="{{ section.settings.title }}"
         {% if section.settings.pan5_image %}
         data-bgset="{% include 'bgset', image: section.settings.pan5_image %}"
         {% endif %}>
    {% if section.settings.text3 != blank %}
        <div class="text3">{{ section.settings.text3 }}</div>
    {% endif %}
    </div>
   </div>
    <div class="section-content scn-cont-mobile">
    	 {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <div class="actions">
              <a href="{{ section.settings.button_link }}"> <span>{{ section.settings.button_label | escape }}</span> </a>
            </div>
         {% endif %}
    </div>
    </div>
  
</div>
{% schema %}
  {
    "name": {
      "en": "Curator image Pan"
    },
    "class": "index-section index-section--flush",
    "settings": [
 
	  {
        "type": "image_picker",
        "id": "desk_image",
        "label": {
          "en": "Desktop Image",
          "de": "Desktop Image",
          "fr": "Desktop Image"
        }
      },
	  {
        "type": "image_picker",
        "id": "mob_image",
        "label": {
          "en": "Mobile Image",
          "de": "Mobile Image",
          "fr": "Mobile Image"
        }
      },

	  {
           "type":"text",
           "id":"title",
           "label":{ 
              "en":"Title",
              "de":"Title",
              "fr":"Title"
           }
      },
	  {
           "type":"text",
           "id":"sub_title",
           "label":{ 
              "en":"Sub Title",
              "de":"Sub Title",
              "fr":"Sub Title"
           }
      },
      {
           "type":"textarea",
           "id":"description",
           "label":{ 
              "en":"Description",
              "de":"Description",
              "fr":"Description"
           }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      },
	  {
        "type": "image_picker",
        "id": "pan1_image",
        "label": {
          "en": "1 Pan Image",
          "de": "1 Pan Image",
          "fr": "1 Pan Image"
        }
      },
	  {
           "type":"text",
           "id":"text1",
           "label":{ 
              "en":"Text",
              "de":"Text",
              "fr":"Text"
           }
      },
	  {
        "type": "image_picker",
        "id": "pan3_image",
        "label": {
          "en": "3 Pan Image",
          "de": "3 Pan Image",
          "fr": "3 Pan Image"
        }
      },
 	  {
           "type":"text",
           "id":"text2",
           "label":{ 
              "en":"Text",
              "de":"Text",
              "fr":"Text"
           }
      },
	  {
        "type": "image_picker",
        "id": "pan5_image",
        "label": {
          "en": "5 Pan Image",
          "de": "5 Pan Image",
          "fr": "5 Pan Image"
        }
      },
	  {
           "type":"text",
           "id":"text3",
           "label":{ 
              "en":"Text",
              "de":"Text",
              "fr":"Text"
           }
      }
	
    ],
    "presets": [
      {
        "name": {
          "en": "Curator image Pan"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        } 
      }
    ]
  }
{% endschema %}