<div class="section fullheightblock holiday-product-bar-section homepage-product-bar-section rwh-giftset-products-section eq_skincare_products_section" style="background-color: white;">
  {% if section.settings.logo %}
    <div class="logo_section" style="text-align:center;">
      <img class="logo_image" src="{{ section.settings.logo | img_url: 'master' }}" style="width:240px" alt="Hourglass Cosmetics">
    </div>
  {% endif %}
  <div class="product-bar-fix product-section" style="color: black; display: flex;">
    {% for block in section.blocks %}

      {% assign handle = block.settings.product_url | remove: "/products/" %}
      {% assign product_object = all_products[handle] %}
    
      {% if product_object.handle != product.handle %}
      
          <div class="product-grid">
            <div class="image_and_popup_section">
              
              <div class="product_popup_section">
                {% comment %}
                  {% if block.settings.popup_label != blank %}
                    <div class="popup_product_label {% if block.settings.popup_label_type == "single" %}center_border{% else %}top_bottom_border{% endif %}">{{ block.settings.popup_label }}</div>
                  {% endif %}
                {% endcomment %}
                
                <a href="{{ block.settings.product_url }}">
                  {% if block.settings.popup_subtitle != blank %}
                    <div class="popup_product_subtitle">{{ block.settings.popup_subtitle }}</div>
                  {% endif %}
                  {% if block.settings.popup_title != blank %}
                    <div class="popup_product_title">{{ block.settings.popup_title }}</div>
                  {% endif %}
                </a>
                
                {% if block.settings.popup_description != blank %}
                  <div class="popup_product_description">{{ block.settings.popup_description }}</div>
                {% endif %}            
                {% if block.settings.popup_btn_label != blank and block.settings.popup_btn_link != blank %}
                  <a class="popup_product_button" href="{{ block.settings.popup_btn_link }}">{{ block.settings.popup_btn_label }}</a>
                {% endif %} 
              </div>

              <div class="mobile_top_content">
                {% if block.settings.popup_label != blank %}
                  <div class="product_label {% if block.settings.popup_label_type == "single" %}center_border{% else %}top_bottom_border{% endif %}">{{ block.settings.popup_label }}</div>
                {% endif %}
                
                <a href="{{ block.settings.product_url }}">
                  {% if block.settings.popup_subtitle != blank %}
                    <div class="product_subtitle">{{ block.settings.popup_subtitle }}</div>
                  {% endif %} 
                  {% if block.settings.popup_subtitle != blank %}
                    <div class="product_title">{{ block.settings.popup_title }}</div>
                  {% endif %}
                </a>
                
              </div>

              <a class="product_link" href="{{ block.settings.product_url }}"> 
                  <div class="product-deskimg">
                    <img class="product-desk-img lazyload" data-src="{{ block.settings.product_image | img_url: 'master' }}" src="{{ block.settings.product_image | img_url: '50x50' }}" alt="Hourglass Cosmetics" >
                  </div>
                  <div class="product-mobimg">
                    <img class="product-mobile-img lazyload" data-src="{{ block.settings.product_image_mobile | img_url: 'master' }}" src="{{ block.settings.product_image_mobile | img_url: '50x50' }}" alt="Hourglass Cosmetics" >
                  </div>
              </a>  

              <div class="mobile_bottom_content">
                {% if block.settings.popup_description != blank %}
                   <div class="product_description">{{ block.settings.popup_description }}</div>
                {% endif %}  
              </div>

            </div>

            <a href="{{ block.settings.product_url }}">
              {% if block.settings.subtitle != blank %}
                  <div class="product_subtitle">{{ block.settings.subtitle }}</div>
              {% endif %}
              {% if block.settings.title != blank %}
                  <div class="product_title">{{ block.settings.title }}</div>
              {% endif %}
            </a>
            
            {% if block.settings.price != blank %}
                <div class="product_price">{{ block.settings.price }}</div>
            {% endif %} 

            {% assign handle = block.settings.product_url | remove: "/products/" %}
            {% assign product_object = all_products[handle] %}
            {% assign variant_id = product_object.selected_or_first_available_variant.id %}
            {% if variant_id != blank and block.settings.product_view_button_enable == false %}
              <form method="post" action="/cart/add" id="product_form_{{ variant_id }}" accept-charset="UTF-8" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="product">
                <input type="hidden" name="utf8" value="✓">
                <input name="id" type="hidden" value="{{ variant_id }}" >            
                <div class="product-quantity-box">
                    <span class="qty-minus">-</span>
                        <input type="text" name="quantity" value="1" title="Qty" class="Quantity-selector product-form__input" min="1" max="4" step="1">
                    <span class="qty-plus">+</span>
                </div>            
                <button type="submit" name="add" id="AddToCart-{{ variant_id }}" class="btn product-form__cart-submit">Add to cart</button>
              </form>
            {% else %}
                <a class="shop_now_btn" href="{{block.settings.product_url}}">{{block.settings.product_label}}</a>
            {% endif %}
            
          </div>
   	   {% endif %}
    
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": {
      "en": "Product List Section"
    },
    "class": "index-section index-section--flush",
    "settings": [      
      {
        "type": "image_picker",
        "id": "logo",
        "label": {
          "en": "Logo",
          "de": "Logo",
          "fr": "Logo"
        }
      }
    ],
    "max_blocks":15,
    "blocks" : [
    {
      "type": "image",
      "name": {
        "en": "Product",
        "de": "Product",
        "fr": "Product"
      },
      "settings": [
		{
          "type": "header",
		  "content": "Product content"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": {
            "en": "Desktop Image",
            "de": "Desktop Image",
            "fr": "Desktop Image"
          }
        },
        {
          "type": "image_picker",
          "id": "product_image_mobile",
          "label": {
            "en": "Mobile Image",
            "de": "Mobile Image",
            "fr": "Mobile Image"
          }
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": {
          "en": "Subtitle",
          "de": "Subtitle",
          "fr": "Subtitle"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
          "en": "Title",
          "de": "Title",
          "fr": "Title"
          }
        },
        {
          "type": "text",
          "id": "price",
          "label": {
            "en": "Price",
            "de": "Price",
            "fr": "Price"
          }
        },
		{
          "type": "checkbox",
          "id": "product_view_button_enable",
          "label": {
          	"en": "Enable View Button"
          }
        },
		{
          "type": "text",
          "id": "product_label",
          "label": {
          "en": "Button Label",
          "de": "Button Label",
          "fr": "Button Label"
          }
        },
		{
          "type": "url",
          "id": "product_url",
          "label": {
          "en": "Product URL",
          "de": "Product URL",
          "fr": "Product URL"
          }
        },
		{
          "type": "header",
		  "content": "Popup content"
        },
		{
          "type": "text",
          "id": "popup_label",
          "label": {
          "en": "Label text",
          "de": "Label text",
          "fr": "Label text"
          }
        },
        {
          "type": "select",
          "id": "popup_label_type",
          "label": {  "en": "Label Border Type" },
          "default": "single",
          "options": [
            {
              "label": { "en": "Border on center" },
              "value": "single"
            },
            {
              "label": { "en": "Border on top bottom" },
              "value": "both"
            }
          ]
        },
		{
          "type": "text",
          "id": "popup_subtitle",
          "label": {
          "en": "Subtitle",
          "de": "Subtitle",
          "fr": "Subtitle"
          }
        },
		{
          "type": "text",
          "id": "popup_title",
          "label": {
          "en": "Title",
          "de": "Title",
          "fr": "Title"
          }
        },
		{
          "type": "textarea",
          "id": "popup_description",
          "label": {
          "en": "Description",
          "de": "Description",
          "fr": "Description"
          }
        },
		{
          "type": "text",
          "id": "popup_btn_label",
          "label": {
          "en": "Button Label",
          "de": "Button Label",
          "fr": "Button Label"
          }
        },
		{
          "type": "url",
          "id": "popup_btn_link",
          "label": {
          "en": "Button Link",
          "de": "Button Link",
          "fr": "Button Link"
          }
        }

      ]
     }
    ]
  }
{% endschema %}
