<div class="vanish-concealer-home-bnr">
  <div class="page-vanish-concealer-home-content">
    <div class="vanish-concealer-home-detail">
      <div class="vch-overlay">
        <span class="vch-heading-txt">{{ section.settings.heading }}</span> 
        {% if section.settings.vanish_image != blank %}
        <img class="vch-image" src="{{ section.settings.vanish_image| img_url : 'master' }}" alt="{{ section.settings.vanish_image.alt }}">
        {% endif %}  
        <div class="vch-show-learn-btn">	
        <a class="vch-btn-1" href="{{ section.settings.button_link_1 }}">{{ section.settings.button_label_1 }}</a>
        <a class="vch-btn-2" href="{{ section.settings.button_link_2 }}">{{ section.settings.button_label_2 }}</a>
          </div>
      </div>       
      <div class="vch-image-vimeo">        
      	<video id="vch-video" width="100%" class="vimiovideo vch-image-mobile" src="{{ section.settings.video_url }}"  playsinline="" autoplay="" loop="" muted="" ></video>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Vanish Concealer V1",
      "de": "Vanish Concealer V1",
      "fr": "Vanish Concealer V1"
    },
    "class": "index-section index-section--flush",
    "settings": [
      {
           "type":"text",
           "id":"heading",
           "label":{
              "en":"Heading",
              "de":"Heading",
              "fr":"Heading"
           }
      },
      {
          "type": "image_picker",
          "id": "vanish_image",
          "label": {
            "de": "Vanish Image",
            "en": "Vanish Image",
            "fr": "Vanish Image"
          }
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": {
          "en": "Button label 1",
          "de": "Button-Etikett 1",
          "fr": "Texte du bouton 1"
        }
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": {
          "en": "Button link 1",
          "de": "Button-Etikett 1",
          "fr": "Lien du bouton 1"
        }
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": {
          "en": "Button label 2",
          "de": "Button-Etikett 2",
          "fr": "Texte du bouton 2"
        }
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": {
          "en": "Button link 2",
          "de": "Button-Etikett 2",
          "fr": "Lien du bouton 2"
        }
      },
      {
           "type":"url",
           "id":"video_url",
           "label":{
              "en":"Video URL",
              "de":"Video URL",
              "fr":"Video URL"
           }
      }

    ],
    "presets": [
      {
        "name": {
          "en": "Vanish Concealer V1",
          "de": "Vanish Concealer V1",
          "fr": "Vanish Concealer V1"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        }
      }
    ]
  }
{% endschema %}