<div class="vanish-concealer-home-bnr vanish-home-bnr-3">
  <div class="page-vanish-concealer-home-content">
    <div class="vanish-concealer-home-detail">
      <div class="vch-overlay">
        <span class="vch-heading-txt">{{ section.settings.heading }}</span> 
        {% comment %}{% if section.settings.vanish_image != blank %}
        <img class="vch-image" src="{{ section.settings.vanish_image| img_url : 'master' }}" alt="{{ section.settings.vanish_image.alt }}">
        {% endif %}  {% endcomment %}
        <div class="vch-show-learn-btn">	
        <!--a class="vch-btn-1" href="{{ section.settings.button_link_1 }}">{{ section.settings.button_label_1 }}</a-->
        <a class="vch-btn-v3" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
          </div>
      </div>       
      <div class="vch-image-vimeo">        
      	<video id="vch-video" width="100%" class="vimiovideo vch-image-mobile" src="{{ section.settings.video_url }}"  playsinline="" autoplay="" loop="" muted="" ></video>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Vanish Concealer V3",
      "de": "Vanish Concealer V3",
      "fr": "Vanish Concealer V3"
    },
    "class": "index-section index-section--flush",
    "settings": [
      {
           "type":"text",
           "id":"heading",
           "label":{
              "en":"Heading",
              "de":"Heading",
              "fr":"Heading"
           }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      },
      {
           "type":"url",
           "id":"video_url",
           "label":{
              "en":"Video URL",
              "de":"Video URL",
              "fr":"Video URL"
           }
      }

    ],
    "presets": [
      {
        "name": {
          "en": "Vanish Concealer V3",
          "de": "Vanish Concealer V3",
          "fr": "Vanish Concealer V3"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        }
      }
    ]
  }
{% endschema %}