<div class="section fullheightblock holiday-product-bar-section homepage-product-bar-section">
  <div class="heading-section">
    <div class="content-inner">
      {% if section.settings.limited_edition_text != blank %}
      	<span class="limited_edition_text">{{ section.settings.limited_edition_text }}</span>
      {% endif %}

      {% if section.settings.badge_image != blank %}
      <img class="badge-img" src="{{ section.settings.badge_image | img_url: 'master' }}" alt="Hourglass Cosmetics">
      {% endif %}

      {% if section.settings.title != blank %}
      <div class="title">{{ section.settings.title }}</div>
      {% endif %} 
      
      {% if section.settings.description != blank %}
      	<div class="description">{{ section.settings.description }}</div>
      {% endif %} 
      
      {% if section.settings.non_human_title != blank %}
      	<div class="non_human_title">{{ section.settings.non_human_title }}</div>
      {% endif %} 
      
      {% if section.settings.non_human_image != blank %}
      <img class="non_human_image" src="{{ section.settings.non_human_image | img_url: 'master' }}" alt="Hourglass Cosmetics">
      {% endif %}
    </div>
  </div>
  <div class="product-bar-fix product-section">
    {% for block in section.blocks %}
      <div class="product-grid">        
        {% if forloop.index == 2 %}
		  <div class="product-non-human">
            {% if section.settings.non_human_title != blank %}
              <div class="non_human_title">{{ section.settings.non_human_title }}</div>
            {% endif %}
            {% if section.settings.non_human_image != blank %}
              <img class="non_human_image" src="{{ section.settings.non_human_image | img_url: 'master' }}" alt="Hourglass Cosmetics">
            {% endif %}
          </div>
        {% endif %}
        
        <a class="product_link" href="{{ block.settings.product_url }}">
            <div class="product-deskimg">
              <img class="product-desk-img lazyload" data-src="{{ block.settings.product_image | img_url: 'master' }}" src="{{ block.settings.product_image | img_url: '50x50' }}" alt="Hourglass Cosmetics" >
            </div>
            <div class="product-mobimg">
              <img class="product-mobile-img lazyload" data-src="{{ block.settings.product_image_mobile | img_url: 'master' }}" src="{{ block.settings.product_image_mobile | img_url: '50x50' }}" alt="Hourglass Cosmetics" >
            </div>
          {% if block.settings.title != blank %}
            <div class="title">{{ block.settings.title }}</div>
          {% endif %}
        </a>
        
        {% if block.settings.price != blank %}
          <div class="price">{{ block.settings.price }}</div>
        {% endif %}        
        
        {% assign handle = block.settings.product_url | remove: "/products/" %}
        {% assign product_object = all_products[handle] %}
		{% assign variant_id = product_object.selected_or_first_available_variant.id %}
                
        {% if variant_id != blank %}
          <form method="post" action="/cart/add" id="product_form_{{ variant_id }}" accept-charset="UTF-8" enctype="multipart/form-data">
            <input type="hidden" name="form_type" value="product">
            <input type="hidden" name="utf8" value="✓">
            <input name="id" type="hidden" value="{{ variant_id }}" >            
            <div class="product-quantity-box">
                <span class="qty-minus">-</span>
                	<input type="text" name="quantity" value="1" title="Qty" class="Quantity-selector product-form__input" min="1" max="4" step="1">
                <span class="qty-plus">+</span>
            </div>            
            <button type="submit" name="add" id="AddToCart-{{ variant_id }}" class="btn product-form__cart-submit">Add to cart</button>
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<script>
  jQuery(document).ready(function(e) {  
    jQuery(".product-quantity-box .qty-plus").click(function(e) {
        e.preventDefault();
        var currentVal = parseInt(
            jQuery(this)
            .prev(".Quantity-selector")
            .val()
        );
        if (!currentVal || currentVal == "" || currentVal == "NaN") {
            currentVal = 1;
        }
        jQuery(this)
            .prev(".Quantity-selector")
            .val(currentVal + 1);
    });
    jQuery(".product-quantity-box .qty-minus").click(function(e) {
        e.preventDefault();
        var currentVal = parseInt(
            jQuery(this)
            .next(".Quantity-selector")
            .val()
        );
        if (currentVal == "NaN") currentVal = 1;
        if (currentVal > 1) {
            jQuery(this)
                .next(".Quantity-selector")
                .val(currentVal - 1);
        }
    });  
  });  
</script>

{% schema %}
  {
    "name": {
      "en": "Holiday Product Bar",
      "de": "Holiday Product Bar",
      "fr": "Holiday Product Bar"
    },
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "text",
        "id": "limited_edition_text",
        "label": {
          "en": "Limited edition text",
          "de": "Limited edition text",
          "fr": "Limited edition text"
        }
      },
	  {
          "type": "image_picker",
          "id": "badge_image",
          "label": {
            "en": "Badge image",
            "de": "Badge image",
            "fr": "Badge image"
          }
      },
	  {
           "type":"text",
           "id":"title",
           "label":{ 
              "en":"Title",
              "de":"Title",
              "fr":"Title"
           }
      },
      {
           "type":"text",
           "id":"description",
           "label":{ 
              "en":"Description",
              "de":"Description",
              "fr":"Description"
           }
      },
      {
        "type": "text",
        "id": "non_human_title",
        "label": {
          "en": "Non human title",
          "de": "Non human title",
          "fr": "Non human title"
        }
      },
	  {
          "type": "image_picker",
          "id": "non_human_image",
          "label": {
            "en": "Non human image",
            "de": "Non human image",
            "fr": "Non human image"
          }
      }
    ],
    "max_blocks": 3,
    "blocks" : [
    {
      "type": "image",
      "name": {
        "en": "Product",
        "de": "Product",
        "fr": "Product"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": {
            "en": "Desktop Image",
            "de": "Desktop Image",
            "fr": "Desktop Image"
          }
        },
        {
          "type": "image_picker",
          "id": "product_image_mobile",
          "label": {
            "en": "Mobile Image",
            "de": "Mobile Image",
            "fr": "Mobile Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
          "en": "Title",
          "de": "Title",
          "fr": "Title"
          }
        },
        {
          "type": "text",
          "id": "price",
          "label": {
            "en": "Price",
            "de": "Price",
            "fr": "Price"
          }
        },
		{
          "type": "url",
          "id": "product_url",
          "label": {
          "en": "Product URL",
          "de": "Product URL",
          "fr": "Product URL"
          }
        }
      ]
     }
    ],
    "presets": [
      {
        "name": {
          "en": "Holiday Product Bar",
          "de": "Holiday Product Bar",
          "fr": "Holiday Product Bar"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        }
      }
    ]
  }
{% endschema %}
