<div id="bgimage_with_leftcontent_section" class="bgimage_with_leftcontent_section fullheightblock ambient-banner restorative-cream">
    
      {% if section.settings.desk_image != blank %}
      	<img class="banner-desk-img lazyload" data-src="{{ section.settings.desk_image | img_url: 'master' }}" src="{{ section.settings.desk_image | img_url: '100x100' }}" alt="Hourglass Cosmetics"
        {% if section.settings.desk_image %}
          data-bgset="{% include 'bgset', image: section.settings.desk_image %}"
        {% endif %}> 
      {% endif %}
      {% if section.settings.mob_image != blank %}
      	<img class="banner-mob-img lazyload" data-src="{{ section.settings.mob_image | img_url: 'master' }}" src="{{ section.settings.mob_image | img_url: '100x100' }}" alt="Hourglass Cosmetics"
        {% if section.settings.mob_image %}
          data-bgset="{% include 'bgset', image: section.settings.mob_image %}"
        {% endif %}> 
      {% endif %}
  
    <div class="banner-content">
        <div class="content-inner">
          	{% if section.settings.new_text != blank %}
            <span class="new_text">{{ section.settings.new_text }}</span>
          	{% endif %}
                   
            {% if section.settings.badge_image != blank %}
          	  <img class="badge-img" src="{{ section.settings.badge_image | img_url: 'master' }}" alt="Hourglass Cosmetics">
            {% endif %}
          
          	{% if section.settings.title != blank %}
            <div class="title">{{ section.settings.title }}</div>
          	{% endif %} 
          	{% if section.settings.description != blank %}
            <div class="description">{{ section.settings.description }}</div>
          	{% endif %} 
          
            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          	<div class="actions">
                <a href="{{ section.settings.button_link }}"> <span>{{ section.settings.button_label | escape }}</span> </a>
            </div>
            {% endif %}   
        </div>
    </div>
</div>
{% schema %}
  {
    "name": {
      "en": "Restorative Cream",
      "de": "Restorative Cream",
      "fr": "Restorative Cream"
    },
    "class": "index-section index-section--flush",
    "settings": [
	  {
        "type": "image_picker",
        "id": "desk_image",
        "label": {
          "en": "Desktop Image",
          "de": "Desktop Image",
          "fr": "Desktop Image"
        }
      },
	  {
        "type": "image_picker",
        "id": "mob_image",
        "label": {
          "en": "Mobile Image",
          "de": "Mobile Image",
          "fr": "Mobile Image"
        }
      },
      {
        "type": "text",
        "id": "new_text",
        "label": {
          "en": "New text",
          "de": "New text",
          "fr": "New text"
        }
      },
	  {
          "type": "image_picker",
          "id": "badge_image",
          "label": {
            "en": "Badge image",
            "de": "Badge image",
            "fr": "Badge image"
          }
      },
	  {
           "type":"text",
           "id":"title",
           "label":{ 
              "en":"Title",
              "de":"Title",
              "fr":"Title"
           }
      },
      {
           "type":"text",
           "id":"description",
           "label":{ 
              "en":"Description",
              "de":"Description",
              "fr":"Description"
           }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "en": "Button label",
          "de": "Button-Etikett",
          "fr": "Texte du bouton"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "en": "Button link",
          "de": "Button-Etikett",
          "fr": "Lien du bouton"
        }
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Restorative Cream",
          "de": "Restorative Cream",
          "fr": "Restorative Cream"
        },
        "category": {
          "en": "Advanced layout",
          "de": "Komplizierteres Layout",
          "fr": "Mise en page avancée"
        } 
      }
    ]
  }
{% endschema %}
