<div class="unlock-impact">
<div class="page-width">
  {% if section.settings.title != blank %}
  <div class="section-header text-center">
    <h2>{{ section.settings.title | escape }}</h2>
  </div>
  {% endif %}
  
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if section.settings.image != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.image.alt | escape }}">
          </div>
      	</div>
      <noscript>
        {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
      </noscript>
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}    
      
  </div>

  {% endcapture %}
  <div class="feature-row">
    {{ image_layout }} 
    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
      {% if section.settings.title != blank %}
      <h2 class="h3">{{ section.settings.title1 }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
      <div class="rte rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      <hr>
      {% if section.settings.mob_image != blank %}
        	<img class="mob-img lazyload feature-row__item-mobile" data-src="{{ section.settings.mob_image | img_url: 'master' }}" src="{{ section.settings.mob_image | img_url: '100x100' }}" alt=" ">       
      {% endif %}
        <div class="subtext">
        {% if section.settings.text1 != blank %}
          <div class="rte rte-setting featured-row__subtext">{{ section.settings.text1 }}</div>
        {% endif %}       
        </div>
    </div> 
    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>
  </div>



{% schema %}
{
	"name": 
	{    
    "en": "Unlocked section 1"
	},
	"class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {        
        "en": "Heading"       
      },
      "default": {      
        "en": "unlock"        
      }
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": {       
        "en": "Image"       
      }
    },   
	{
      "type": "image_picker",
      "id": "mob_image",
      "label": {       
        "en": "Image"       
      }
    },   
    {
      "type": "text",
      "id": "title1",
      "label": {
        "en": "Heading"       
      },
      "default": {      
        "en": "Image "        
      }
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {       
        "en": "Text"       
      },
      "default": {
       
        "en": "text"
      }
    },
	 {
      "type": "textarea",
      "id": "text1",
      "label": {        
        "en": "Text"       
      },
      "default": {       
        "en": "text"
      }
    }
   ],  
  "presets": [
    {
      "name": {        
        "en": "Unlock"     
      },
      "category": {       
        "en": "Image"      
      }
    }
  ] 
}
{% endschema %}

